In [1]:
from io import StringIO

In [2]:
from datetime import datetime

In [3]:
file= open("input2.txt")
string=file.readlines()
string

['string ="""     \n',
 '#FileType : employee-salary\n',
 '#Columns:employee_id,employee_name,job_title,salary,job_start_date,job_end_date\n',
 '# Types: int,str,str,int,datetime,datetime\n',
 '1,Alan,Chef,40000,2018-10-29,\n',
 '2,Brenda,Teacher,30000,,2015-09-27\n',
 '3,Charlie,CEO,1000000,2015-09-27,\n',
 '4,Declan,Head of Sales,200000,2018-05-28,\n',
 '5,Erin,Taxi Driver,35000,2018-09-21,\n',
 '6,Frank,Taxi Driver,35000,2016-08-03,\n',
 '7,Gertrude,Head Chef,45000,2013-12-11,2016-11-29\n',
 '8,Harry,,60000,2012-09-14,2013-09-17\n',
 '9,Isabella,Police Officer,33000,2014-03-21,2014-09-24\n',
 '10,John,Data Scientist,45000,2015-07-15,2019-04-28\n',
 '11,Kerry,Shop Keeper,22000,2017-04-03,\n',
 '12,Liam,Chef,42000,2012-06-13,2015-02-18\n',
 '13,Mandy,Gardener,80000,2018-01-26,\n',
 '14,Nigel,Teacher,30000,2015-01-01,\n',
 '15,Ophelia,Clergy,55000,2015-04-04,2019-01-24\n',
 '16,Peter,Chef,40000,2020-01-03,\n',
 '17,Quinn,Unemployed,0,2016-02-25,2019-07-04\n',
 '18,Roger,Martial Arts Teacher,27500,2016-05-03,2018-09-17\n',
 '19,Samantha,Teacher,30000,2015-06-29,\n',
 '20,Terry,Audio Engineer,77000,2015-05-01,2015-08-02\n',
 '21,Sujay,Pet Control,42000,2012-09-16,2014-11-06\n',
 '22,Vanessa,Sous Chef,42000,2018-02-02,\n',
 '23,Willhelm,Business Owner,10000,2012-04-12,2014-06-25\n',
 '24,Xavier,Teacher,30000,2018-02-07,2018-05-26\n',
 '25,Yolanda,Taxi Driver,35000,2017-12-17,2018-12-09 \n',
 '26,Zell,Chef,40000,2012-06-29,2013-04-02\n',
 '"""']

In [4]:
type(string)

list

In [5]:
#Removing Unwanted Data from List
print(string.pop(0))
print(string.pop(0))
print(string.pop(1))
print(string.pop())

string ="""

#FileType : employee-salary

# Types: int,str,str,int,datetime,datetime

"""

In [6]:
string

['#Columns:employee_id,employee_name,job_title,salary,job_start_date,job_end_date\n',
 '1,Alan,Chef,40000,2018-10-29,\n',
 '2,Brenda,Teacher,30000,,2015-09-27\n',
 '3,Charlie,CEO,1000000,2015-09-27,\n',
 '4,Declan,Head of Sales,200000,2018-05-28,\n',
 '5,Erin,Taxi Driver,35000,2018-09-21,\n',
 '6,Frank,Taxi Driver,35000,2016-08-03,\n',
 '7,Gertrude,Head Chef,45000,2013-12-11,2016-11-29\n',
 '8,Harry,,60000,2012-09-14,2013-09-17\n',
 '9,Isabella,Police Officer,33000,2014-03-21,2014-09-24\n',
 '10,John,Data Scientist,45000,2015-07-15,2019-04-28\n',
 '11,Kerry,Shop Keeper,22000,2017-04-03,\n',
 '12,Liam,Chef,42000,2012-06-13,2015-02-18\n',
 '13,Mandy,Gardener,80000,2018-01-26,\n',
 '14,Nigel,Teacher,30000,2015-01-01,\n',
 '15,Ophelia,Clergy,55000,2015-04-04,2019-01-24\n',
 '16,Peter,Chef,40000,2020-01-03,\n',
 '17,Quinn,Unemployed,0,2016-02-25,2019-07-04\n',
 '18,Roger,Martial Arts Teacher,27500,2016-05-03,2018-09-17\n',
 '19,Samantha,Teacher,30000,2015-06-29,\n',
 '20,Terry,Audio Engineer,77000,2015-05-01,2015-08-02\n',
 '21,Sujay,Pet Control,42000,2012-09-16,2014-11-06\n',
 '22,Vanessa,Sous Chef,42000,2018-02-02,\n',
 '23,Willhelm,Business Owner,10000,2012-04-12,2014-06-25\n',
 '24,Xavier,Teacher,30000,2018-02-07,2018-05-26\n',
 '25,Yolanda,Taxi Driver,35000,2017-12-17,2018-12-09 \n',
 '26,Zell,Chef,40000,2012-06-29,2013-04-02\n']

In [7]:
#extracting Column names
Column_names=string[0].split(":").pop().strip()

In [8]:
#removing first row from string list
print(string.pop(0))

#Columns:employee_id,employee_name,job_title,salary,job_start_date,job_end_date

In [9]:
#list of columns
Columns_List=Column_names.split(',')
Columns_List

['employee_id',
 'employee_name',
 'job_title',
 'salary',
 'job_start_date',
 'job_end_date']

In [10]:
#printing records of employees
for rec in string:
    print(rec)

1,Alan,Chef,40000,2018-10-29,

2,Brenda,Teacher,30000,,2015-09-27

3,Charlie,CEO,1000000,2015-09-27,

4,Declan,Head of Sales,200000,2018-05-28,

5,Erin,Taxi Driver,35000,2018-09-21,

6,Frank,Taxi Driver,35000,2016-08-03,

7,Gertrude,Head Chef,45000,2013-12-11,2016-11-29

8,Harry,,60000,2012-09-14,2013-09-17

9,Isabella,Police Officer,33000,2014-03-21,2014-09-24

10,John,Data Scientist,45000,2015-07-15,2019-04-28

11,Kerry,Shop Keeper,22000,2017-04-03,

12,Liam,Chef,42000,2012-06-13,2015-02-18

13,Mandy,Gardener,80000,2018-01-26,

14,Nigel,Teacher,30000,2015-01-01,

15,Ophelia,Clergy,55000,2015-04-04,2019-01-24

16,Peter,Chef,40000,2020-01-03,

17,Quinn,Unemployed,0,2016-02-25,2019-07-04

18,Roger,Martial Arts Teacher,27500,2016-05-03,2018-09-17

19,Samantha,Teacher,30000,2015-06-29,

20,Terry,Audio Engineer,77000,2015-05-01,2015-08-02

21,Sujay,Pet Control,42000,2012-09-16,2014-11-06

22,Vanessa,Sous Chef,42000,2018-02-02,

23,Willhelm,Business Owner,10000,2012-04-12,2014-06-25

24,Xavier,Teacher,30000,2018-02-07,2018-05-26

25,Yolanda,Taxi Driver,35000,2017-12-17,2018-12-09

26,Zell,Chef,40000,2012-06-29,2013-04-02

In [11]:
#Create empty dictionary
employee_dict={}
for record in range(len(string)):
    #first strip records to remove "\n" then split on "," to get
    #each line as a list=> ['26', 'Zell', 'Chef', '40000', '2012-06-29', '2013-04-02']
    line= string[record].strip().split(',')
    # create zip file using two lists and to print zip file convert it to dict
    Zipped_list=dict(zip(Columns_List,line))
    # update records by using dict of dict method
    employee_dict.update({record:Zipped_list})

In [12]:
employee_dict

{0: {'employee_id': '1',
  'employee_name': 'Alan',
  'job_title': 'Chef',
  'salary': '40000',
  'job_start_date': '2018-10-29',
  'job_end_date': ''},
 1: {'employee_id': '2',
  'employee_name': 'Brenda',
  'job_title': 'Teacher',
  'salary': '30000',
  'job_start_date': '',
  'job_end_date': '2015-09-27'},
 2: {'employee_id': '3',
  'employee_name': 'Charlie',
  'job_title': 'CEO',
  'salary': '1000000',
  'job_start_date': '2015-09-27',
  'job_end_date': ''},
 3: {'employee_id': '4',
  'employee_name': 'Declan',
  'job_title': 'Head of Sales',
  'salary': '200000',
  'job_start_date': '2018-05-28',
  'job_end_date': ''},
 4: {'employee_id': '5',
  'employee_name': 'Erin',
  'job_title': 'Taxi Driver',
  'salary': '35000',
  'job_start_date': '2018-09-21',
  'job_end_date': ''},
 5: {'employee_id': '6',
  'employee_name': 'Frank',
  'job_title': 'Taxi Driver',
  'salary': '35000',
  'job_start_date': '2016-08-03',
  'job_end_date': ''},
 6: {'employee_id': '7',
  'employee_name': 'Gertrude',
  'job_title': 'Head Chef',
  'salary': '45000',
  'job_start_date': '2013-12-11',
  'job_end_date': '2016-11-29'},
 7: {'employee_id': '8',
  'employee_name': 'Harry',
  'job_title': '',
  'salary': '60000',
  'job_start_date': '2012-09-14',
  'job_end_date': '2013-09-17'},
 8: {'employee_id': '9',
  'employee_name': 'Isabella',
  'job_title': 'Police Officer',
  'salary': '33000',
  'job_start_date': '2014-03-21',
  'job_end_date': '2014-09-24'},
 9: {'employee_id': '10',
  'employee_name': 'John',
  'job_title': 'Data Scientist',
  'salary': '45000',
  'job_start_date': '2015-07-15',
  'job_end_date': '2019-04-28'},
 10: {'employee_id': '11',
  'employee_name': 'Kerry',
  'job_title': 'Shop Keeper',
  'salary': '22000',
  'job_start_date': '2017-04-03',
  'job_end_date': ''},
 11: {'employee_id': '12',
  'employee_name': 'Liam',
  'job_title': 'Chef',
  'salary': '42000',
  'job_start_date': '2012-06-13',
  'job_end_date': '2015-02-18'},
 12: {'employee_id': '13',
  'employee_name': 'Mandy',
  'job_title': 'Gardener',
  'salary': '80000',
  'job_start_date': '2018-01-26',
  'job_end_date': ''},
 13: {'employee_id': '14',
  'employee_name': 'Nigel',
  'job_title': 'Teacher',
  'salary': '30000',
  'job_start_date': '2015-01-01',
  'job_end_date': ''},
 14: {'employee_id': '15',
  'employee_name': 'Ophelia',
  'job_title': 'Clergy',
  'salary': '55000',
  'job_start_date': '2015-04-04',
  'job_end_date': '2019-01-24'},
 15: {'employee_id': '16',
  'employee_name': 'Peter',
  'job_title': 'Chef',
  'salary': '40000',
  'job_start_date': '2020-01-03',
  'job_end_date': ''},
 16: {'employee_id': '17',
  'employee_name': 'Quinn',
  'job_title': 'Unemployed',
  'salary': '0',
  'job_start_date': '2016-02-25',
  'job_end_date': '2019-07-04'},
 17: {'employee_id': '18',
  'employee_name': 'Roger',
  'job_title': 'Martial Arts Teacher',
  'salary': '27500',
  'job_start_date': '2016-05-03',
  'job_end_date': '2018-09-17'},
 18: {'employee_id': '19',
  'employee_name': 'Samantha',
  'job_title': 'Teacher',
  'salary': '30000',
  'job_start_date': '2015-06-29',
  'job_end_date': ''},
 19: {'employee_id': '20',
  'employee_name': 'Terry',
  'job_title': 'Audio Engineer',
  'salary': '77000',
  'job_start_date': '2015-05-01',
  'job_end_date': '2015-08-02'},
 20: {'employee_id': '21',
  'employee_name': 'Sujay',
  'job_title': 'Pet Control',
  'salary': '42000',
  'job_start_date': '2012-09-16',
  'job_end_date': '2014-11-06'},
 21: {'employee_id': '22',
  'employee_name': 'Vanessa',
  'job_title': 'Sous Chef',
  'salary': '42000',
  'job_start_date': '2018-02-02',
  'job_end_date': ''},
 22: {'employee_id': '23',
  'employee_name': 'Willhelm',
  'job_title': 'Business Owner',
  'salary': '10000',
  'job_start_date': '2012-04-12',
  'job_end_date': '2014-06-25'},
 23: {'employee_id': '24',
  'employee_name': 'Xavier',
  'job_title': 'Teacher',
  'salary': '30000',
  'job_start_date': '2018-02-07',
  'job_end_date': '2018-05-26'},
 24: {'employee_id': '25',
  'employee_name': 'Yolanda',
  'job_title': 'Taxi Driver',
  'salary': '35000',
  'job_start_date': '2017-12-17',
  'job_end_date': '2018-12-09'},
 25: {'employee_id': '26',
  'employee_name': 'Zell',
  'job_title': 'Chef',
  'salary': '40000',
  'job_start_date': '2012-06-29',
  'job_end_date': '2013-04-02'}}

In [13]:
line

['26', 'Zell', 'Chef', '40000', '2012-06-29', '2013-04-02']

In [14]:
Zipped_list

{'employee_id': '26',
 'employee_name': 'Zell',
 'job_title': 'Chef',
 'salary': '40000',
 'job_start_date': '2012-06-29',
 'job_end_date': '2013-04-02'}

In [15]:
for rec in employee_dict.items():
    if rec[1]['job_end_date']=="":
        rec[1]['job_end_date']="{:%Y-%m-%d}".format(datetime.today())
    if rec[1]['salary']=="60000":
        rec[1]['job_title']="Application Engineer"
    if rec[1]['employee_name']=="Brenda":
        rec[1]['job_start_date']="2012-05-03"

In [16]:
employee_dict

{0: {'employee_id': '1',
  'employee_name': 'Alan',
  'job_title': 'Chef',
  'salary': '40000',
  'job_start_date': '2018-10-29',
  'job_end_date': '2022-12-15'},
 1: {'employee_id': '2',
  'employee_name': 'Brenda',
  'job_title': 'Teacher',
  'salary': '30000',
  'job_start_date': '2012-05-03',
  'job_end_date': '2015-09-27'},
 2: {'employee_id': '3',
  'employee_name': 'Charlie',
  'job_title': 'CEO',
  'salary': '1000000',
  'job_start_date': '2015-09-27',
  'job_end_date': '2022-12-15'},
 3: {'employee_id': '4',
  'employee_name': 'Declan',
  'job_title': 'Head of Sales',
  'salary': '200000',
  'job_start_date': '2018-05-28',
  'job_end_date': '2022-12-15'},
 4: {'employee_id': '5',
  'employee_name': 'Erin',
  'job_title': 'Taxi Driver',
  'salary': '35000',
  'job_start_date': '2018-09-21',
  'job_end_date': '2022-12-15'},
 5: {'employee_id': '6',
  'employee_name': 'Frank',
  'job_title': 'Taxi Driver',
  'salary': '35000',
  'job_start_date': '2016-08-03',
  'job_end_date': '2022-12-15'},
 6: {'employee_id': '7',
  'employee_name': 'Gertrude',
  'job_title': 'Head Chef',
  'salary': '45000',
  'job_start_date': '2013-12-11',
  'job_end_date': '2016-11-29'},
 7: {'employee_id': '8',
  'employee_name': 'Harry',
  'job_title': 'Application Engineer',
  'salary': '60000',
  'job_start_date': '2012-09-14',
  'job_end_date': '2013-09-17'},
 8: {'employee_id': '9',
  'employee_name': 'Isabella',
  'job_title': 'Police Officer',
  'salary': '33000',
  'job_start_date': '2014-03-21',
  'job_end_date': '2014-09-24'},
 9: {'employee_id': '10',
  'employee_name': 'John',
  'job_title': 'Data Scientist',
  'salary': '45000',
  'job_start_date': '2015-07-15',
  'job_end_date': '2019-04-28'},
 10: {'employee_id': '11',
  'employee_name': 'Kerry',
  'job_title': 'Shop Keeper',
  'salary': '22000',
  'job_start_date': '2017-04-03',
  'job_end_date': '2022-12-15'},
 11: {'employee_id': '12',
  'employee_name': 'Liam',
  'job_title': 'Chef',
  'salary': '42000',
  'job_start_date': '2012-06-13',
  'job_end_date': '2015-02-18'},
 12: {'employee_id': '13',
  'employee_name': 'Mandy',
  'job_title': 'Gardener',
  'salary': '80000',
  'job_start_date': '2018-01-26',
  'job_end_date': '2022-12-15'},
 13: {'employee_id': '14',
  'employee_name': 'Nigel',
  'job_title': 'Teacher',
  'salary': '30000',
  'job_start_date': '2015-01-01',
  'job_end_date': '2022-12-15'},
 14: {'employee_id': '15',
  'employee_name': 'Ophelia',
  'job_title': 'Clergy',
  'salary': '55000',
  'job_start_date': '2015-04-04',
  'job_end_date': '2019-01-24'},
 15: {'employee_id': '16',
  'employee_name': 'Peter',
  'job_title': 'Chef',
  'salary': '40000',
  'job_start_date': '2020-01-03',
  'job_end_date': '2022-12-15'},
 16: {'employee_id': '17',
  'employee_name': 'Quinn',
  'job_title': 'Unemployed',
  'salary': '0',
  'job_start_date': '2016-02-25',
  'job_end_date': '2019-07-04'},
 17: {'employee_id': '18',
  'employee_name': 'Roger',
  'job_title': 'Martial Arts Teacher',
  'salary': '27500',
  'job_start_date': '2016-05-03',
  'job_end_date': '2018-09-17'},
 18: {'employee_id': '19',
  'employee_name': 'Samantha',
  'job_title': 'Teacher',
  'salary': '30000',
  'job_start_date': '2015-06-29',
  'job_end_date': '2022-12-15'},
 19: {'employee_id': '20',
  'employee_name': 'Terry',
  'job_title': 'Audio Engineer',
  'salary': '77000',
  'job_start_date': '2015-05-01',
  'job_end_date': '2015-08-02'},
 20: {'employee_id': '21',
  'employee_name': 'Sujay',
  'job_title': 'Pet Control',
  'salary': '42000',
  'job_start_date': '2012-09-16',
  'job_end_date': '2014-11-06'},
 21: {'employee_id': '22',
  'employee_name': 'Vanessa',
  'job_title': 'Sous Chef',
  'salary': '42000',
  'job_start_date': '2018-02-02',
  'job_end_date': '2022-12-15'},
 22: {'employee_id': '23',
  'employee_name': 'Willhelm',
  'job_title': 'Business Owner',
  'salary': '10000',
  'job_start_date': '2012-04-12',
  'job_end_date': '2014-06-25'},
 23: {'employee_id': '24',
  'employee_name': 'Xavier',
  'job_title': 'Teacher',
  'salary': '30000',
  'job_start_date': '2018-02-07',
  'job_end_date': '2018-05-26'},
 24: {'employee_id': '25',
  'employee_name': 'Yolanda',
  'job_title': 'Taxi Driver',
  'salary': '35000',
  'job_start_date': '2017-12-17',
  'job_end_date': '2018-12-09'},
 25: {'employee_id': '26',
  'employee_name': 'Zell',
  'job_title': 'Chef',
  'salary': '40000',
  'job_start_date': '2012-06-29',
  'job_end_date': '2013-04-02'}}

# 1. How many people have earned more than 30,000?

In [17]:
count=0
for rec in employee_dict.items():
    if rec[1]['salary']>"30000":
        count+=1
        
print(count)

16

## 2. Who has held their job longest

In [18]:
dictLongServed={}
for rec in employee_dict.items():
    d1=rec[1]['job_start_date']
    d2=rec[1]['job_end_date']
    d1=datetime.strptime(d1, "%Y-%m-%d")
    d2=datetime.strptime(d2, "%Y-%m-%d")
    diff=d2-d1
    print(diff.days)
    dictLongServed.update({rec[0]:diff.days})

1508
1242
2636
1662
1546
2325
1084
368
187
1383
2082
980
1784
2905
1391
1077
1225
867
2726
93
781
1777
804
108
357
277

In [19]:
dictLongServed

{0: 1508,
 1: 1242,
 2: 2636,
 3: 1662,
 4: 1546,
 5: 2325,
 6: 1084,
 7: 368,
 8: 187,
 9: 1383,
 10: 2082,
 11: 980,
 12: 1784,
 13: 2905,
 14: 1391,
 15: 1077,
 16: 1225,
 17: 867,
 18: 2726,
 19: 93,
 20: 781,
 21: 1777,
 22: 804,
 23: 108,
 24: 357,
 25: 277}

In [20]:
long_served_emp_index=list(dictLongServed.keys())[list(dictLongServed.values()).index(max(dictLongServed.values()))]

In [21]:
employee_dict[long_served_emp_index]['employee_name']

'Nigel'

## 3. Who has earned the second - highest salary ever?

In [28]:
d={}
sortedList=sorted(employee_dict.items(), key = lambda x: int(x[1]['salary']))
for sId, rec in sortedList:
    d.setdefault(sId,rec)
key_2nd_Highesht= sortedList[-2][0]
d[key_2nd_Highesht]['employee_name']

'Declan'